@import url("/fonts.css");

body {
    padding-top: 10vh;
    background-color: #003049 !important;
}

a {
  color: #B1FFEC !important;
}
a:hover {
  color: #80c4b3 !Important;
  transition: ease 0.1s;
}
.hero-text {
    font-family: 'NHG';
    font-size: 10vw;
    -webkit-text-stroke: 0.5vw #FF6F61;
    color: rgba(0,0,0,0);
}
#i-build {
    position: absolute;
    top: 0;
    left: 10vw;
}
#cool {
    position: absolute;
    left: 59vw;
    top: 20vh;
}
#shtuff {
   position: absolute;
   bottom: 5vh;
   left: 31vw;
}
#connect-with-me {
  text-align: center;
  -webkit-text-stroke: 0.02em #B1FFEC;
  font-family: 'NHG';
  color: rgba(0,0,0,0);
  margin-bottom: 2rem;
  font-size: 5em;
}
#reese-video {
    position: relative;
    z-index: -1000;
    left: 20vw;
    height: 65vh;
    width: 55vw;
    filter: opacity(70%);
}
#reese-armstrong {
    font-family: 'NHG';
    font-weight: bold;
    position: absolute;
    bottom: 40vh;
    left: 35vw;
    color: #B1FFEC;
}
#connect {
    margin-top: 35vh;
    margin-bottom: 3rem;
}
#twitch:hover {
    background-color: #9147FF;
    transition: ease 0.25s;
}
#twitch:hover > path {
    fill: #fff;
}
#youtube:hover {
    background-color: #FF0000;
    transition: ease 0.25s;
}
#youtube:hover > path {
    fill: #fff;
    stroke-width: 4px;
    transition: ease 0.25s;
}
#youtube:hover > mask > path {
    fill: #fff;
    transition: ease 0.25s;
}
#github:hover {
    background-color: #000;
    transition: ease 0.25s;
}
#github:hover > path {
    fill: #fff;
}
#discord:hover {
    background-color: #5865F2;
    transition: ease 0.25s;
}
#discord:hover > path {
    fill: #fff;
}

.email {
  margin-top: 2rem;
  color: #FF6F61;
  text-align: center;
}
@media only screen and (max-width: 760px) {
   #social-icons {
       width: min-content;
   } 
} 
