<a href="https://hackaustin.net" target="_blank"><div id="mainDiv">
    <svg fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" xmlns="http://www.w3.org/2000/svg" aria-label="external" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="30" height="30" title="external"><g><path d="M18.6696 18.2544C18.6196 18.8044 19.025 19.2908 19.575 19.3408C20.125 19.3908 20.6114 18.9855 20.6614 18.4355L20.6615 18.4338C21.0797 16.5772 21.0797 15.163 20.8286 12.6612C20.7628 12.2869 20.6485 11.9033 20.3726 11.6274C20.0967 11.3515 19.7131 11.2372 19.3387 11.1714C16.8371 10.9203 15.4229 10.9203 13.5651 11.3385C13.0263 11.4598 12.6092 11.875 12.6592 12.425C12.7092 12.975 13.1956 13.3804 13.7456 13.3304L13.9557 13.3114C15.4442 13.1765 16.3383 13.0955 17.4922 13.0936L17.4937 13.0951L12.053 18.5358C11.6625 18.9264 11.6625 19.5595 12.053 19.9501C12.4435 20.3406 13.0767 20.3406 13.4672 19.9501L18.9054 14.5119C18.9021 15.6445 18.8229 16.5339 18.6979 17.9365L18.6696 18.2544Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M26 16C26 24 24 26 16 26C8 26 6 24 6 16C6 8 8 6 16 6C24 6 26 8 26 16ZM24 16C24 20.014 23.45 21.722 22.586 22.586C21.722 23.45 20.014 24 16 24C11.986 24 10.278 23.45 9.414 22.586C8.55 21.722 8 20.014 8 16C8 11.986 8.55 10.278 9.414 9.414C10.278 8.55 11.986 8 16 8C20.014 8 21.722 8.55 22.586 9.414C23.45 10.278 24 11.986 24 16Z"></path></g></svg>
    <div id="top-flex">
        <svg width="30" height="30" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 4 44 0 24 0C4 0 0 4 0 24C0 44 4 48 24 48C44 48 48 44 48 24ZM40.672 40.672C42.85 38.494 44 34.2 44 24C44 19.72 43.798 16.48 43.4 14H4.6C4.2 16.48 4 19.72 4 24C4 34.2 5.15 38.494 7.328 40.672C9.506 42.85 13.8 44 24 44C34.2 44 38.494 42.85 40.672 40.672ZM14 8C14 7.46957 14.2107 6.96086 14.5858 6.58579C14.9609 6.21071 15.4696 6 16 6H32C32.5304 6 33.0391 6.21071 33.4142 6.58579C33.7893 6.96086 34 7.46957 34 8C34 8.53043 33.7893 9.03914 33.4142 9.41421C33.0391 9.78929 32.5304 10 32 10H16C15.4696 10 14.9609 9.78929 14.5858 9.41421C14.2107 9.03914 14 8.53043 14 8Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.164 30.65C9.85 30.232 9.5 29.67 9.5 29C9.5 28.33 9.85 27.766 10.164 27.348H10.166C11.864 25.14 14.122 23.422 16.32 21.752L16.34 21.736L17.432 20.9C17.8186 20.6047 18.3015 20.4644 18.7862 20.5066C19.2708 20.5487 19.7222 20.7704 20.052 21.128C20.2126 21.3053 20.3344 21.5141 20.4097 21.7411C20.485 21.9681 20.5121 22.2083 20.4893 22.4464C20.4666 22.6845 20.3944 22.9152 20.2774 23.1238C20.1604 23.3324 20.0013 23.5144 19.81 23.658C19.45 23.938 19.086 24.212 18.724 24.488C16.874 25.9 15.04 27.296 13.572 29C15.022 30.676 16.89 32.104 18.73 33.512C19.092 33.79 19.454 34.064 19.81 34.342C20.0015 34.4854 20.1609 34.6673 20.2781 34.8759C20.3952 35.0845 20.4675 35.3153 20.4903 35.5535C20.5131 35.7917 20.4859 36.032 20.4104 36.259C20.3349 36.4861 20.2128 36.6949 20.052 36.872C19.722 37.2293 19.2704 37.4506 18.7858 37.4924C18.3011 37.5342 17.8184 37.3936 17.432 37.098H17.43L17.064 36.814L16.906 36.694L16.37 36.284L16.364 36.28C14.17 34.606 11.836 32.824 10.166 30.652L10.164 30.648V30.65ZM37.836 30.65C38.15 30.232 38.5 29.67 38.5 29C38.5 28.33 38.15 27.766 37.836 27.348H37.834C36.136 25.14 33.878 23.422 31.68 21.752C31.3082 21.4701 30.9376 21.1868 30.568 20.902C30.1819 20.6062 29.6992 20.4652 29.2146 20.5066C28.73 20.5481 28.2783 20.769 27.948 21.126C27.7871 21.3033 27.665 21.5123 27.5895 21.7395C27.514 21.9667 27.4868 22.2071 27.5096 22.4455C27.5323 22.6838 27.6046 22.9148 27.7218 23.1236C27.839 23.3323 27.9984 23.5144 28.19 23.658C28.55 23.938 28.912 24.212 29.272 24.488H29.276C31.126 25.9 32.96 27.296 34.428 29C32.978 30.676 31.11 32.104 29.27 33.512C28.908 33.79 28.546 34.064 28.19 34.342C27.9985 34.4854 27.8391 34.6673 27.7219 34.8759C27.6048 35.0845 27.5325 35.3153 27.5097 35.5535C27.4869 35.7917 27.5141 36.032 27.5896 36.259C27.6651 36.4861 27.7872 36.6949 27.948 36.872C28.278 37.2293 28.7296 37.4506 29.2142 37.4924C29.6989 37.5342 30.1816 37.3936 30.568 37.098H30.57L31.63 36.284L31.636 36.28C33.83 34.606 36.164 32.824 37.834 30.652L37.836 30.648V30.65Z" fill="black"/>
        </svg>
        <div>
            <p><b>Come and Hack Austin</b><br>
            Join us for the first Austin high-school hackathon since 2020
            </p>
        </div>
    </div>
</div></a>

<style>
    #mainDiv {
        background-color: var(--accent);
        color: var(--bg);
        padding: 0.1rem;
        padding-left: 1rem;
        padding-right: 3rem;
        margin-bottom: 4rem;
        border-radius: 10px;
        width: max-content;
        height: min-content;
        position: relative;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        transition: ease-in-out 0.15s;
        cursor: pointer;
    }

    a {
        color: inherit;
        text-decoration: none;
    }



    #mainDiv:hover {
        transform: scale(1.05);
    }

    #mainDiv:active {
        transform:scale(.98)
    }

    #top-flex {
        display: flex;
        align-items: center;
        gap: 1rem;
        width:100%;

    }
    
    a {
        color: blue !important;
    }

    h1,h2,h3,h4,h5,h6,p {
        margin: 0.5rem 0 !important;
    }

    svg[title="external"] {
        position: absolute;
        top:0;
        right:0;
    }

    @media (prefers-color-scheme:dark) {
        svg > path {
            fill: #15823C !important;
        }

        svg {
            fill: #15823C !important;
        }
    }
    svg > path {
      fill: #37F17A;
    }

    svg {
        fill: #37F17A;
    }
</style>