<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>reesericci</title>
	<link rel="icon" type="image/png" href="/avatar.png"/>
  <meta name="generator" content={Astro.generator} />
  <!-- Primary Meta Tags -->
  <meta name="title" content="reesericci">
  <meta name="description" content="Reese (reesericci) Armstrong’s garbage homepage on the interwebs that I should have spent more time on.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://reeseric.ci/">
  <meta property="og:title" content="reesericci">
  <meta property="og:description" content="Reese (reesericci) Armstrong’s garbage homepage on the interwebs that I should have spent more time on.">
  <meta property="og:image" content="/avatar.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://reeseric.ci/">
  <meta property="twitter:title" content="reesericci">
  <meta property="twitter:description" content="Reese (reesericci) Armstrong’s garbage homepage on the interwebs that I should have spent more time on.">
  <meta property="twitter:image" content="/avatar.png">


</head>

<a href="/"><h1>reeseric.ci</h1></a>

<slot/>

</html>

<style is:global>
  @import url("/fonts/pp-editorial-new/pp-editorial-new.css");
  @import url('/simple.min.css');

  body {
    padding-bottom: 1rem;
  }
 :root, * {
   font-family: "PP Editorial New", sans-serif;
 }
  
  a {
    color: var(--accent);
  }

  h2 {
    margin: 1rem 0 1rem 0;
  }

  .webring-anchor {
    color: var(--a) !important;
    text-decoration: underline !important;
    transition: ease-in-out;
  }

  .webring-anchor:hover {
    text-decoration: none !important;
  }

  hr {
    display: none;
  }

  ul {
    margin-top: 0;
  }

</style>

<style>
  a {
    text-decoration: none;
    color: orange;
  }
</style>
