<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>reeseric.ci</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator} />

</head>

<a href="/"><h1>reeseric.ci</h1></a>

<slot></slot>
</html>

<style is:global>
  @import url("/fonts/pp-editorial-new/pp-editorial-new.css");
  @import url('/simpledotcss/simple.min.css');

 :root, * {
   font-family: "PP Editorial New", sans-serif;
 }
  
  a {
    text-decoration: none;
    color: orange;
  }
</style>
